<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			LOG IN
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">LOG IN</ion-title>
		</ion-toolbar>
	</ion-header>
	<br>
	<ion-title size="large" color="light">LOG IN</ion-title>
	<br>
	<ion-item>
		<ion-label color="light">Email</ion-label>
		<ion-input color="light" type="mail" placeholder="email address"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label color="light">Password</ion-label>
		<ion-input color="light" type="password" placeholder="Password"></ion-input>
	</ion-item>
	<ion-item lines="none">
		<ion-button color="light" slot="end" fill="clear">Forget your password ?</ion-button>
	</ion-item>

	<ion-button color="light" expand="block" shape="round" fill="outline">Log in</ion-button>
	<br>
	<ion-button color="tertiary" expand="block" shape="round">Inscription</ion-button>

	<ion-item lines="none">
		<ion-label color="light" text-center>LOG With</ion-label>
	</ion-item>

	<div class="flex">
		<ion-button color="facebook" shape="round">
			<ion-icon slot="start" name="logo-facebook"></ion-icon>
			Facebook
		</ion-button>

		<ion-button color="google" shape="round">
			<ion-icon slot="start" name="logo-google"></ion-icon>
			Google
		</ion-button>

	</div>

</ion-content>
