ion-content ion-toolbar {
    --background: translucent;
  }
  ion-content  {
    --ion-background-color: linear-gradient( #134E5E, #71B280);
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  :root {
    /** facebook **/
    --ion-color-facebook: #3b5999;
    --ion-color-facebook-rgb: 59, 89, 153;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #324b81;
    --ion-color-facebook-tint: #476bb8;
  
    /** google **/
    --ion-color-google: #cd201f;
    --ion-color-google-rgb: 245, 61, 61;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255, 255, 255;
    --ion-color-google-shade: #cd201f;
    --ion-color-google-tint: #cd201f;
    
    
  }
  
  .ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
  }
  .ion-color-google {
    --ion-color-base: var(--ion-color-google) !important;
    --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
    --ion-color-contrast: var(--ion-color-google-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-google-shade) !important;
    --ion-color-tint: var(--ion-color-google-tint) !important;
  }