<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="parent">
            <ion-back-button defaultHref="/tabs/{{ parent }}"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-progress-bar *ngIf="!housing || form" type="indeterminate"></ion-progress-bar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="housing && bookings">
    <ion-list *ngIf="bookings != notfound">
        <ion-text color="primary"><h2>Non disponible à ces dates :</h2></ion-text>
        <ion-item *ngFor="let book of bookings">
            <ion-label>du {{book.beginning_date | date:"dd/MM/yyyy"}} au {{book.ending_date | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item><ion-text color="danger">Si vous choississez des dates non disponibles la page sera rechargée</ion-text></ion-item>
    </ion-list>

    <ion-text color="primary"><h2>Je choisis mes dates de réservation :</h2></ion-text>
    <form method="post" (submit)="bookHousing()" class="ion-margin">
        <ion-item>
            <ion-label>Arrivée</ion-label>
            <ion-datetime displayformat="MM DD YY" placeholder="Select Date" [(ngModel)]="begin" name="begin" required="required" min="{{min}}" max="{{max}}"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Départ</ion-label>
            <ion-datetime displayformat="MM DD YY" placeholder="Select Date" [(ngModel)]="end" name="end" required="required" min="{{min}}" max="{{max}}"></ion-datetime>
        </ion-item>

        <ion-button class="ion-margin-top" expand="block" shape="round" type="submit" >Réserver</ion-button>
    </form>
</ion-content>