<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Mon Compte
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Mon Compte</ion-title>
			<ion-buttons slot="primary">
				<ion-button (click)="logout()">
					<ion-icon color="primary" slot="icon-only" name="log-out-outline" class="ion-margin-end"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-progress-bar *ngIf="!person" type="indeterminate"></ion-progress-bar>
	<ion-item-group *ngIf="person" class="profile-header">
		<ion-img src="../../assets/others/accountpattern.png"></ion-img>
		<ion-item-group>
			<ion-text color="primary"><h1>{{person.first_name}} {{person.last_name}}</h1></ion-text>
			<ion-text color="tertiary">{{person.email}}</ion-text>
			<ion-text color="tertiary">{{person.date_of_birth | date: 'dd/MM/yyyy'}}</ion-text>
            <a class="ion-margin-top" href="/tabs/account/update">Modifier</a>
		</ion-item-group>
	</ion-item-group>
	<ion-item-group *ngIf="bookings" class="ion-padding">
		<ion-text color="secondary"><h2>Mes réservations</h2></ion-text>
		<a href="/tabs/account/booking?id={{ book.id }}" class="housing-card" *ngFor="let book of bookings">
			<ion-card>
				<ion-img *ngIf="book.housing.images[0];else placeholder" src="../../assets/housing/{{book.housing.images[0].url}}" alt="{{ book.housing.name }}"></ion-img>
				<ng-template #placeholder><ion-img src="../../assets/housing/placeholder.jpg" alt="{{ book.housing.name }}"></ion-img></ng-template>
				<ion-text class="price">{{ book.beginning_date | date : "d MMM" }} - {{ book.ending_date | date : "d MMM" }}</ion-text>
				<ion-card-header>
					<ion-card-subtitle>{{ book.housing.city }}</ion-card-subtitle>
					<ion-card-title>{{ book.housing.name }}</ion-card-title>
				</ion-card-header>

				<ion-card-content>
					{{ book.housing.description }}
				</ion-card-content>
			</ion-card>
		</a>
		<ion-item-group class="empty-list" *ngIf="bookings.length == 0">
			<img src="../../assets/icon/housing.png" alt="house icon"/>
			<ion-text>Vous n'avez pas encore de réservations</ion-text>
		</ion-item-group>
	</ion-item-group>
	<ion-item-group *ngIf="housings" class="ion-padding">
		<ion-text color="secondary"><h2>Mes annonces</h2></ion-text>
		<a href="/tabs/account/housing?id={{ housing.id}}" class="housing-card" *ngFor="let housing of housings">
			<ion-card>
				<ion-img *ngIf="housing.images[0];else placeholder" src="../../assets/housing/{{housing.images[0].url}}" alt="{{ housing.name }}"></ion-img>
				<ng-template #placeholder><ion-img src="../../assets/housing/placeholder.jpg" alt="{{ housing.name }}"></ion-img></ng-template>
				<ion-text class="price">{{ housing.price_per_day }} € / nuit</ion-text>
				<ion-card-header>
					<ion-card-subtitle>{{ housing.city }}</ion-card-subtitle>
					<ion-card-title>{{ housing.name }}</ion-card-title>
				</ion-card-header>

				<ion-card-content>
					{{ housing.description }}
				</ion-card-content>
			</ion-card>
		</a>
		<ion-item-group class="empty-list" *ngIf="housings.length == 0">
			<img src="../../assets/icon/housing.png" alt="house icon"/>
			<ion-text>Vous n'avez pas encore d'annonces</ion-text>
		</ion-item-group>
	</ion-item-group>
	<ion-button *ngIf="person" (click)="deleteAccount()">Supprimer mon compte</ion-button>
	<ion-text *ngIf="person" class="ion-margin-bottom" color="danger"><p>Attention cette action est irréversible !</p></ion-text>
</ion-content>
