ion-content ion-toolbar {
	--background: translucent;
}
ion-content {
	display: flex;
	flex-wrap: wrap;

	a {
		text-decoration: none;
	}

	ion-card {
		ion-img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}

		ion-text.price {
			background-color: var(--ion-color-primary) ;
			padding: 10px;
			border-right: 5px;
			color: white;
			font-size: 1.2rem;
			position: relative;
			top: -15px;
		}

		ion-card-subtitle {
			text-transform: uppercase;
		}
	}
}