<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="parent">
            <ion-back-button defaultHref="/tabs/{{ parent }}"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-progress-bar *ngIf="!housing" type="indeterminate"></ion-progress-bar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="housing">
    <ion-item-group *ngIf="housing.id; else housing_notfound">
        <ion-item-group class="visual-content">
            <ion-img *ngIf="housing.images[0];else placeholder" src="../../assets/housing/{{housing.images[0].url}}" alt="{{ housing.name }}"></ion-img>
            <ng-template #placeholder><ion-img src="../../assets/housing/placeholder.jpg" alt="{{ housing.name }}"></ion-img></ng-template>
            <ion-text class="price">{{ housing.price_per_day }} € / nuit</ion-text>
            <ion-text class="date">Mis en ligne le {{ housing.created_at | date: 'dd/MM/yyyy' }} par {{ housing.person.first_name }} {{ housing.person.last_name }}</ion-text>
        </ion-item-group>
        <a *ngIf="canDelete == true"  href="/tabs/account/housing/update/?id={{ housing.id }}">Modifier</a>
        <ion-item-group class="text-content">
            <h1>{{ housing.name }}</h1>
            <p>{{ housing.city}}, {{ housing.country }}</p>
            <ion-list>
                <ion-item>
                    <ion-avatar>
                        <ion-icon name="people-outline"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        {{ housing.number_of_travellers }} voyageurs
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-avatar>
                        <ion-icon name="bed-outline"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        {{ housing.number_of_bed }} lits · {{ housing.number_of_bedrooms }} chambres
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-avatar>
                        <ion-icon name="water-outline"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        {{ housing.number_of_bathrooms }} salles de bain
                    </ion-label>
                </ion-item>
            </ion-list>
            <p>{{ housing.description }}</p>
        </ion-item-group>
    </ion-item-group>
    <ng-template #housing_notfound>
        <p>Pas de résultat.</p>
    </ng-template>
    <ion-button *ngIf="canDelete == true" (click)="deleteHousing()">Supprimer l'annonce</ion-button>
    <ion-text  *ngIf="canDelete == true" class="ion-margin-bottom" color="danger"><p>Attention cette action est irréversible !</p></ion-text>
</ion-content>