<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Voyager</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="housing/create">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Annonce</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>