<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			E-booking
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">E-booking</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-progress-bar *ngIf="!cities" type="indeterminate"></ion-progress-bar>

	<ion-item-group class="ion-padding">
		<ion-text><h1>Bienvenue !</h1></ion-text>
		<p>E-Booking est une app qui permet de mettre en relation les propriétaires avec les voyageurs</p>
	</ion-item-group>

	<ion-item-group class="cities" *ngIf="cities">
		<h2 class="ion-padding-start">Nos villes</h2>
		<ion-slides pager="true" [options]="{autoplay: true, slidesPerView: 1.5}">
			<ion-slide *ngFor="let city of cities">
				<ion-card class="city">
					<ion-img src="../../assets/cities/{{ city | lowercase }}.jpg" alt="{{ city }}"></ion-img>
					<ion-card-header>
						<ion-card-title><ion-icon name="location"></ion-icon>{{ city }}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-slide>
		</ion-slides>
	</ion-item-group>

</ion-content>
